.Header{
    display: flex;
    justify-content: center;
    padding: 40px 0 ;
    font-weight: 600;
}
.FormBox{
    border: 1px solid #CDCCCC;
    border-radius: 20px;
    padding: 40px 90px;
    width: 100%;
    .FormCon{
        display: flex;
        align-items: center;
        label{
            width: 40%;
            font-size: 1.5rem;
        }
        .InputBox{
            display: flex;
            justify-content: space-around;
            margin: 20px 0;
            width: 60%;
            input{
                width: 261px;
                height: 48px;
                border: 1px solid #908D8D;
                border-radius: 10px;
                padding: 5px 10px;
                font-size: 20px;
            }
        }
    }
}